body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #f8f8f8, #e8e8e8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.knowledge-base-container {
    width: 80%;
    max-width: 800px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
    margin: 20px;
}

h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}

p {
    margin-top: 20px;
    line-height: 1.5;
}

b {
    color: #0077B6;
}
