/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #f8f8f8, #e8e8e8);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .create-request-container {
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .header {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    font-size: 16px;
  }
  
  input[type="file"] {
    margin-top: 5px;
  }
  
  button[type="submit"] {
    background-color: #0077B6;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto 0;
  }
  
  .helpdesk-contact {
    margin-top: 15px;
    font-size: 0.9em;
  }
  
  .helpdesk-contact a {
    color: #0077B6;
    text-decoration: none;
  }
  
  .helpdesk-contact a:hover {
    text-decoration: underline;
  }
  
  .knowledge-base {
    text-align: center;
    margin-top: 30px;
  }
  
  .knowledge-base a {
    text-decoration: none;
    color: #0077B6;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .knowledge-base a:hover {
    color: #005A8A;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 40%;
    max-width: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333333;
    font-family: 'Poppins', sans-serif;
  }
  
  .modal-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #0077B6;
    text-align: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    line-height: 25px;
    padding: 0;
    color: #666;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: #000;
  }