body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #f8f8f8, #e8e8e8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.supervisor-panel-container {
    width: 100%;
    max-width: none;
    height: 100%;
    padding: 40px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0; /* Removed border radius */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.supervisor-requests-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    flex-grow: 1; /* Added this */
}

.supervisor-requests-table th, .supervisor-requests-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.supervisor-requests-table th {
    background-color: #f5f5f5;
    font-weight: 600;
}

.supervisor-actions {
    margin-top: 30px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* This will push the button group to the end of the flex container */
    align-items: center; /* Align items vertically */
    gap: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-group label {
    font-weight: 500;
}

.form-group select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.button-group {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #0077B6;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005A8A;
}

.supervisor-actions .actions-container {
    display: flex; /* Use flexbox to layout children */
    justify-content: space-between; /* Space between the dropdown and the buttons */
    width: 100%; /* Take full width to spread children on both ends */
}

.supervisor-requests-table tr.selected {
    background-color: #e7f4ff; /* for example, a light blue */
}
